.button
	display inline-block
	padding 0.5em 1.0em
	border none
	color #222
	font-family 'Open Sans'
	font-size 16px
	cursor pointer
	background-color whitesmoke
	&:hover
		simple-gradient hotpink
		color #222
	&.is-checked
		font-weight bolder
	&:active
		border-top 1px solid hotpink

.button:active,
.button.is-checked
	border-bottom 1px solid hotpink
