// @TODO: atomic -- single post
.blog.thought
	base()
	h1, p
		margin 0 auto
		text-align center
	p
		max-width 37em
		line-height 1.5em
		letter-spacing 0.05em
		font-family: cardo
	body
		padding 2em



