---
layout: work
date: 2014-01-15
year: 2015
title: Dawn Lister Therapy Centre.
description: Creative journey and case study for the Dawn Lister Therapy Centre website.
category: work
tags: [website]
relatedimageurl: http://lorempixel.com/325/250/abstract/1

googlewebfonts: Lato|Open+Sans:400,700,800
slug: dawn-lister-therapy-centre
---

<div class="page-wrap">
    <div class="hero">
        <img class="hero-image" src="/work/{{ page.slug }}/img/hero.png" alt="Hero image showcasing responsive design on MacBook Pro screen">
    </div>
    <div class="header">
        <h1 class="project-name">{{ page.title }}</h1> {% if page.tagline %}
        <h3 class="sub-heading">{{ page.tagline }}</h3> {% endif %}
    </div>

    {% include work-meta.html %}

    <div class="overview">
        <h2 class="section-header">Summary.</h2>

        <div class="section-content">
            <div class="summary">
                <p>Dawn Lister is a well-known and respected therapist with over 20 years experience, based in Leigh-on-Sea, just outside of London. </p>

                <p>The website links existing as well as potential future clients with information about the centre, including service description and staff bios. The website is also where Dawn will share her blog and podcasts, encouraging further engagement between herself and the public. </p>

                <p>I guided Dawn through the process article and podcast submission and remain in contact, providing support and advice.
                </p>
            </div>

            <!-- .summary -->
            <div class="column">
                <div class="goals">
                    <h3>Goals</h3>
                    <ol>
                        <li>raise awareness.</li>
                        <li>offer information.</li>
                        <li>build an online presence.</li>
                        <li>match current branding.</li>
                    </ol>
                </div>
                <div class="insight">
                    <h3>Insight</h3>
                    <p>After some quick research we came to realise that many local therapists websites used generic templates. This just would not do and standing out from the crowd did not pose much of a challenge to creative juice.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- .overview -->
    <div class="creative">
        <h2 class="section-header">Creative.</h2>
        <small>Website Visual Interface Design</small>
        <div class="section-content">
            <div class="logo ">
                <img src="img/logo.png">
            </div>
            <div class="copy">
                <p>The colour palette was extracted from already exising brouchures for branding consistency with an emphasis on balance between feminine and masculine colours.</p>
            </div>
            <div class="color-palettes ">
                <div class="color-palette rustic-red"></div>
                <div class="color-palette bittersweet"></div>
                <div class="color-palette sundown"></div>
            </div>
        </div>
        <!-- .section-content -->
        <div class="radius-bg">
            <div class="imac-showcase">
                <img src="/work/{{ page.slug }}/img/imac-showcase.png" alt="Responsive website design demo on iMac screen">
            </div>
            <div class="copy">
                <p>During design iteration, communication is key and through trial and error we came to an effective means of communicating ideas.</p>
            </div>
            <div class="image-grid">
                <img src="/work/{{ page.slug }}/img/sketch-mockup-1.png" alt="Sketch of early website design mockup">
                <img src="/work/{{ page.slug }}/img/sketch-mockup-2.png" alt="Sketch of early website design mockup">
                <img src="/work/{{ page.slug }}/img/sketch-mockup-3.png" alt="Sketch of early website design mockup">
            </div>
            <div class="copy">
                <p>Using SoundCloud’s service we were able to embed uploaded podcasts affordably and efficiently.</p>
            </div>
            <div class="iphone-showcase">
                <img src="/work/{{ page.slug }}/img/iphone-showcase.png" alt="Responsive website design demo on iPhone screen">
            </div>
        </div>
        <!-- .radius-bg -->
    </div>
    <!-- .creative -->

    <div class="technology">
        <h2 class="section-header">Technology.</h2>

        <div class="tech-logos">
            <div class="img-container wp-logo">
                <img src="/work/work-assets/img/WP.png" alt="wordpress logo">
            </div>

            <div class="img-container">
                <img src="/work/work-assets/img/soundcloud.png" alt="soundcloud logo">
            </div>

            <div class="img-container">
                <img src="/work/work-assets/img/pagespeed.png" alt="google pagespeed logo">
            </div>

        </div>

        <div class="tech-copy">
            <p>WordPress as a Content Management System for ease of use, affordability and continued community development.</p>

            <p>Hosting Dawn’s meditation podcasts via Soundcloud was both efficient and intuitive.</p>

            <p>Delivering hi-res, retina-ready websites can take a toll on regular shared hosting. This is why I host my own websites and configure them to utilize Google&rsquo;s mod_pagespeed for faster page loading.</p>
        </div>

    </div>
    <!-- .technology -->
</div>
<!-- .page-wrap -->


