// import variables before global defaults
@import '_variables'
// Global styles for work collection
@import '../../assets/css/3-layouts/_portfolio'
// Site-wide Global Variables
@import '../../assets/css/0-utilities/_global'


// display protein tubs on top of profile image
.hero
		align-items: flex-end
		position: relative
		height: 500px
		.alina
				position: absolute
				bottom: 0
				left: 0
		.protein
				position: absolute
				bottom: -26px
				right: 0

.header
		display: flex
		flex-direction: column
		justify-content: center
		height: 120px
		padding: 20px 15px
		background-color: $brand-primary
		color: white
		.project-name
				color: white
		.sub-heading
				color: $brand-secondary
				font-size: em(42px)

.overview, .visual-design, .solution, .technology
		margin-top: 5em
		display: flex
		flex-direction: column

.overview, .visual-design, .technology
		.section-header
				margin-bottom: 1em
.visual-design, .solution, .technology
		.section-header
				@extend .fancy-margin
				align-self: center

.overview
		.summary, .snl-logo, .brief
				flex: 1
		.snl-logo
				margin: auto auto
				img
						width: 331px
						height: 339px
		.brief
				margin: auto auto

.solution
		.section-content
				display: flex
				flex-direction: row
				& > div
						align-self: center
						flex: 1
						padding: 2em
		.alina-profile
				flex: 1
				img
						width: 336px
						height: 549px

.visual-design
		>p
				width: 37em
				align-self: center
				text-align: center
		img
				margin: 3em 0

		.user-experience
				display: flex
				flex-direction: row
				margin-top: 80px
				ul
						list-style: none
				.ux-summary
						flex: 1
						align-self: center
				.ux-feature
						align-self: flex-end
						flex: 2
						padding-left: 125px
						span
								margin: auto 0
						th
								padding: 1em
						.circle
								background-color: $brand-primary
								border-radius: 50%
								color: $brand-secondary
								height: 4em
								width: 4.5em
								padding: 2.5em 1em 0 1em
								text-align: center
								font-family: $header-font
								font-weigth: 900
								font-size: 1.3em
