<header class="masthead__wrap">
    <div class="masthead">
        <div class="thiago-logo">
        <h3>thiago<span>debastos</span></h3>
        <!-- <img src="assets/images/logo/thiago-logo@3x.png" /> -->

        </div>
        <nav class="links">
            <ul class="toggle">
                <li>
                    <input id="all" type="radio" name="item_type" class="all" />
                    <label for="all">all.</label>
                </li>
                <li>
                    <input id="thought" type="radio" name="item_type" class="thought-filter" />
                    <label for="thought">thought.</label>
                </li>
                <li>
                    <input id="creative" type="radio" name="item_type" class="creative-filter" />
                    <label for="creative">creative.</label>
                </li>
                <li>
                    <input id="work" type="radio" name="item_type" class="work-filter" />
                    <label for="work">work.</label>
                </li>
                <li>
                    <label id="navtoggler" for="pulldowntoggler">sayhello.</label>
                </li>
            </ul>
        </nav>
        <div class="social-icons">
            <div>
                <a href="http://goo.gl/EwZ9dR" class="icon-behance"></a>
            </div>
            <div>
                <a href="http://goo.gl/NJjYFz" class="icon-google-plus"></a>
            </div>
            <div>
                <a href="http://goo.gl/RbxfCC" class="icon-facebook"></a>
            </div>
            <div>
                <a href="http://goo.gl/lMRvG6" class="icon-twitter"></a>
            </div>
            <div>
                <a href="http://goo.gl/ugTMHi" class="icon-github"></a>
            </div>
        </div>
    </div>
</header>
<!-- TODO @structure-->
<!-- small.site-tagline {{ site.tagline }}-->
