<header class="masthead">
    <i class="icon-to-logo">to</i>
    <nav>
        <ul class="toggle">
            <li><input type="radio" name="item_type" id="all" class="all"/><label for="all">all.</label></li>
            <li><input type="radio" name="item_type" id="thought" class="thought-filter"/><label for="thought">thought.</label></li>
            <li><input type="radio" name="item_type" id="creative" class="creative-filter"/><label for="creative">creative.</label></li>
            <li><input type="radio" name="item_type" id="work" class="work-filter"/><label for="work">work.</label></li>
            <li><a href="#">sayhello.</a></li>
        </ul>
    </nav>

    <small class="site-tagline">{{ site.tagline }}</small>

    <div class="social-icons">
        <ul>
            <li><a href="#">t</a></li>
            <li><a href="#">f</a></li>
            <li><a href="#">b</a></li>
            <li><a href="#">i</a></li>
            <li><a href="#">g</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">e</a></li>
            <li><a href="#">r</a></li>
        </ul>
    </div>

</header>