<script type='text/javascript' id="__bs_script__">//<![CDATA[
document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.2.0.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
//]]></script>
<footer class="work-footer">
    <div class="work-footer__content">
        <a href="/">
            <span class="footer__logo">tb</span>
            <span class="footer__blurb">this is an awesome paragraph</span>
        </a>
    </div>
    <ul class="pagination__btns">{% if page.next %}
        <li>
            <a href="{{ page.next.url }}" rel="next" class="icon-btn-next">next</a>
        </li>{% endif %} {% if page.previous %}
        <li>
            <a href="{{ page.previous.url }}" rel="previous" class="icon-btn-prev">prev</a>
        </li>{% endif %}
    </ul>
</footer>
