$rustic-red = #420F20
$bittersweet = #F97962
$sundown = #F3B9AA

$brand-primary = $rustic-red
$brand-secondary = $sundown

$border-color = $brand-secondary
$header-bg = $brand-secondary

$meta-lead-bg = $bittersweet
$meta-lead-color = $brand-primary
$meta-follow-bg = $brand-secondary
$meta-follow-color = $brand-primary


