extends /_templates/default

append config
	- var jQuery = true
	- var PageTitle = 'Home'
	- var pullDown = true
	- var filterTab = true
	- var isotopeGrid = true

block content
	include _includes/isotope-grid
	//- .loop-wrap
		//- .masonry
		//- 	each post in site.posts.all()
		//- 		if site.posts.all(category)
		//- 			unless post.title === undefined
		//- 				a(href=post._url class='masonry__brick category--' + post.category)
		//- 					h2.masonry__brick--title: = post.title
		//- 					p= post.category
		//- 					em.masonry__brick--date: = post.date.toDateString()
		//- 					img.masonry__brick--cover

		//- 	each post in site.portfolio.all()
		//- 		a(href=post._url class='masonry__brick category--' + post.category)
		//- 			h2.masonry__brick--title: = post.title
		//- 			p= post.category
		//- 			em.masonry__brick--date: = post.date.getFullYear()
		//- 			img.masonry__brick--cover
						
	append vendorJS
		script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.min.js')

	append siteJS
		script(src="/assets/js/custom/masonry-filter.js")
		script(src='/assets/js/custom/isotope-filter.js')
