.slide-down-content
	p.blurb
		| Each week I reach out to fellow designers, creators and thinkers. Be part of a global
		| community of like-minded individuals.
		span  sign up.
	form#mc-embedded-subscribe-form.validate.coolform(action="//thiagodebastos.us8.list-manage.com/subscribe/post?u=a9fd9329a14e17dad18ea4678&amp;id=1bd08e36c1" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
		.input-group.mc-field-group
			input#mce-FNAME(type="text" name="FNAME")
			label(for="mce-FNAME") Your First Name
		.input-group.mc-field-group
			input#mce-LNAME(type="text" name="LNAME")
			label(for="mce-LNAME") Your Last Name
		.input-group.mc-field-group
			input#mce-EMAIL.required.email(type="email", value="", name="EMAIL")
			label(for="mce-EMAIL") Your Email Address
		input(type="submit")

