.slide-down-content
	p.blurb
		| Each week I reach out to fellow designers, creators and thinkers. Be part of a global
		| community of like-minded individuals.
		span  sign up.
	form.coolform
		.input-group
			input(type="text")
			label Your Full Name
		.input-group
			input(type="email")
			label Your Email Address
		input(type="submit")
