block config
	include /_includes/config

doctype
html( xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" )
	
	include /_includes/head
	block styles
		!= css('/')

	body
		if pullDown 
			input#pulldowntoggler(type="checkbox")
		.page-wrap
			.page-content
				if pullDown
					include /_includes/site-header

				block content

				if pullDown
					include /_includes/coolform

		block vendorJS
			if jQuery
				script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

		block siteJS
			!= js('/')
	
	footer
		block footer
			code#gotJquery Nope, no jQuery :(
			p this is the footer
