footer.site-footer
	.site-footer__content
		a(href="/")
			span.footer__logo tb
			span.footer__blurb this is an awesome paragraph
//- @TODO pagination
	ul.pagination__btns
		| {% if page.next %}
		li
			a.icon-btn-next(href="{{ page.next.url }}", rel="next")
		| {% endif %} {% if page.previous %}
		li
			a.icon-btn-prev(href="{{ page.previous.url }}", rel="previous")
		| {% endif %}
