.home-footer
	cf()
	position relative
	border-top 2px solid $border-color
	margin-top 4em
	padding 2em 0
	bottom 0

	.footer
		&__block
			col(1/3)
			padding 1em
			&--title
				col(1/3)
				display block
			&--contact
				col(1/3)
				font-weight 800
