.page-content
	transition all 0.2s linear

.slide-down-content
	// slide-out topbar off-canvas
	background-color: black
	position: fixed
	top: -460px
	left: 0px
	down: 0px
	color: whitesmoke
	z-index: 1
	height: 320px
	width: 100%
	padding: 30px
	text-align: center
	transition: all, .3s, linear

	p.blurb
		font-family: 'Lato', sans-serif
		font-weight: 300
		font-size: 2rem
		display: inline-block
		color: whitesmoke
		list-style-type: none
		span
			font-weight: 900
	.coolform
		padding-top: 50px


#pulldowntoggler
	display: none
	&:checked + .page-wrap
		.slide-down-content
			top: 0px
			border-bottom: 8px solid $color-primary
		.site-header
			top: 360px
		.page-content
			padding-top: 360px
