/**** Transitions ****/
.masonry, .masonry div[class*="category--"]
  transition-duration: 0.5s
.masonry
  transition-property: height, width
.masonry div[class*="category--"]
    transition-property: left, right, top

.masonry
  margin: 0 auto

// .grid-sizer
//   +span-columns(3)
//   position: relative

.masonry__brick
  position: relative
  color: white
  font-size: 1.4em
  text-align: center
  width: 270px
  height: 100px
  margin: 0 5px
  // @TODO to be removed
  display: table

.masonry__brick:hover .title
  opacity: 1


.masonry__brick--title
  // @TODO to be removed
  display: table-cell
  vertical-align: middle

.category--thought
  background: tomato

.category--work
  background: skyblue

.category--creative
  background: purple
