
.masthead__wrap
  height: 200px
  transform-style: preserve-3d

.masthead
  +span-columns(18)
  height: 200px

  .icon-to-logo
    +span-columns(4)
    +vertical-align

  nav
    +span-columns(10)
    +vertical-align
    font-size: 1rem

    ul.toggle
      text-align: center
      li, a
        padding: 0 1em
        display: inline
        color: #929292
        list-style-type: none
        text-decoration: none
        +transition(all .35s linear)
        &:hover
          color: black
          background-color: rgba(155,155,155,0.7)

        input
          display: none
        input[type="radio"]:checked+label
          color: black
          font-weight: bold



  .social-icons
    +span-columns(4)
    +vertical-align
    ul
      float: right
      list-style-type: none
      li
        display: inline-block
        +size(15px)
        border-radius: 50%
        background-color: grey
