extends layout
block content
  .page
    h1.page-title 404: Page not found
    p.lead
      | Sorry, we"ve misplaced that URL or it"s pointing to something that doesn"t exist.
      a(href="/") Head back home try finding it again.

