footer.portfolio-footer
	.footer__block
		h2 Interested?
		span Drop me a line.
	.footer__block
		span.footer__block--title Email.
		span.footer__block--contact thiago@xingur.com
	.footer__block
		span.footer__block--title London.
		span.footer__block--contact +44 (0)7 53456 2784
