footer.portfolio-footer
	.footer__block
		h2 Interested?
		span Drop me a line.
	.footer__block
		span.footer__block--title Email.
		span.footer__block--contact= locals.author.email
	.footer__block
		span.footer__block--title= locals.author.city
		span.footer__block--contact= locals.author.phone 
