- var GoogleFonts = 'Lato|Open+Sans:400,700,800'

- var jQuery = true

- var PageTitle = 'thiagodebastos.com'

- var MetaDesc = 'This is where Thiago de Bastos keeps you connected to things he creates, thinks and feels. An Art directed blog'

- var PageTheme = 'light'

- var PullDown = true

- var PageSlug = _path.match(/[-a-zA-Z0-9@:%_\+]{4,256}(?=\.[html|php])/g)
