<div class="slide-down-content">
    <p class="blurb">
        Each week I reach out to fellow designers, creators and thinkers. Be part of a global
        community of like-minded individuals.<span> sign up.</span>
    </p>
    <form class="coolform">
        <div class="input-group">
            <input type="text">
            <label>Your Full Name</label>
        </div>
        <div class="input-group">
            <input type="email">
            <label>Your Email Address</label>
        </div>
        <input type="submit">
    </form>
</div>
