<footer class="site-footer">
    <div class="site-footer__content">
        <a href="/">
            <span class="footer__logo">tb</span>
            <span class="footer__blurb">this is an awesome paragraph</span>
        </a>
    </div>
    <ul class="pagination__btns">{% if page.next %}
        <li>
            <a href="{{ page.next.url }}" rel="next" class="icon-btn-next"></a>
        </li>{% endif %} {% if page.previous %}
        <li>
            <a href="{{ page.previous.url }}" rel="previous" class="icon-btn-prev"></a>
        </li>{% endif %}
    </ul>
</footer>
