header.site-header
	.site-header__wrap
		div(class='site-header ' + PageTheme)
			.site-header__logo
				h3
					//- TODO: move to left of screen
					label.toggle(for="pulldowntoggler") ☰
					| thiago
					span debastos

			nav.site-header__links
				#filters.button-group
					button.button.is-checked(data-filter="*") show all
					button.button(data-filter=".thoughts") thoughts
					button.button(data-filter=".creations") creations
					button.button(data-filter=".code") code
					button.button(data-filter=".portfolio") portfolio
				#sorts.button-group
					button.button(data-sort-by="date" data-sort-ascending="false") date
					button.button(data-sort-by="category") category
					button.button(data-sort-by="original-order") reset

			.site-header__right
				.social-icons
					div
						a.icon-behance(href="http://www.behance.net/" + locals.author.behance)
					div
						//- TODO: change google url when receive custom page url
						a.icon-google-plus(href="https://plus.google.com/u/0/111994372583076987913/")
					div
						a.icon-facebook(href="https://www.facebook.com/" + locals.author.facebook)
					div
						a.icon-twitter(href="https://www.twitter.com/" + locals.author.twitter)
					div
						a.icon-github(href="https://github.com/" + locals.author.github)
