footer.site-footer
  .site-footer__content
     a(href='/')
      img(src="/assets/images/logo/logo.png")
      span this is an awesome paragraph
    ul.pagination__btns
      {% if page.next %}
      li
        a(href='{{ page.next.url }}' rel='next').icon-btn-next
      {% endif %}
      {% if page.previous %}
      li
        a(href='{{ page.previous.url }}' rel='previous').icon-btn-prev
      {% endif %}

