header.masthead
      i.icon-to-logo to
      nav
        ul.toggle
          li
            input#all.all(type='radio', name='item_type')
            label(for='all') all.
          li
            input#thought.thought-filter(type='radio', name='item_type')
            label(for='thought') thought.
          li
            input#creative.creative-filter(type='radio', name='item_type')
            label(for='creative') creative.
          li
            input#work.work-filter(type='radio', name='item_type')
            label(for='work') work.
          li
            a(href='#') sayhello.
      small.site-tagline {{ site.tagline }}
      .social-icons
        ul
          li
            a(href='#') t
          li
            a(href='#') f
          li
            a(href='#') b
          li
            a(href='#') i
          li
            a(href='#') g
          li
            a(href='#') l
          li
            a(href='#') e
          li
            a(href='#') r
