header.masthead__wrap
  .masthead
    .icon-thiago-logo
      img(src="assets/images/logo/thiago-logo@3x.png")

    nav
      ul.toggle
        li
          input#all.all(type='radio', name='item_type')
          label(for='all') all.
        li
          input#thought.thought-filter(type='radio', name='item_type')
          label(for='thought') thought.
        li
          input#creative.creative-filter(type='radio', name='item_type')
          label(for='creative') creative.
        li
          input#work.work-filter(type='radio', name='item_type')
          label(for='work') work.
        li
          label#navtoggler(for='pulldowntoggler') sayhello.
    .social-icons
      div
        a.icon-behance(href='http://goo.gl/EwZ9dR')
      div
        a.icon-google-plus(href='http://goo.gl/NJjYFz')
      div
        a.icon-facebook(href='http://goo.gl/RbxfCC')
      div
        a.icon-twitter(href='http://goo.gl/lMRvG6')
      div
        a.icon-github(href='http://goo.gl/ugTMHi')


// TODO @structure
// small.site-tagline {{ site.tagline }}