---
layout: default
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en_uk">{% include head.html %}

<body>
    <input id="pulldowntoggler" type="checkbox">
    <div class="page-wrap">
        <div class="page-content">
            {% include masthead.html %}
            {{ content }}
        </div>
        {% include coolform.html %}
    </div> <!-- .page-wrap -->

    {% unless site.googleAnalytics == '' %}
        {% include analytics.html %}
    {% endunless %}

    {% include scripts.html %}
</body>

</html>

