body
  background linear-gradient(to left, #517fa4 , #243949)
  font-family Raleway


iframe
  float left
  margin 20px
header
  font-weight 900
  color #eee
  margin 20px 0 0 80px
.toc
  color whitesmoke
  & ul
    list-style-type none
  a
    color whitesmoke
    text-decoration none
    &:visited
      color darken(whitesmoke, 30%)
    &:hover
      color lighten(yellow, 50%)
