body {
  background: linear-gradient(to left, #517fa4, #243949);
}
iframe {
  float: left;
  margin: 20px;
}
header {
  font-size: 2rem;
  font-family: sans-serif;
  color: #eee;
  margin: 20px 0 0 80px;
  text-shadow: 2px 2px 2px #000, 3px 3px 3px #999, 4px 4px 3px #333;
}
