h1 {
  font-size: 56px; }

h2 {
  font-size: 42px; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 800; }

h2, h3, h4 {
  font-weight: 700; }

p, li {
  font-family: 'Lato'; }

.hero img.protein {
  margin-bottom: -30px; }

.header {
  background-color: #0D497C;
  color: white;
  padding: 10px 15px; }
  .header h1 {
    line-height: 0.6em; }
  .header h2 {
    color: gold;
    line-height: 0.4em; }
