//Main Stylus file
normalize-css()
@import '_settings'
@import 'jeet'
base()
@import 'axis'

// Utilities
@import '0-utilities/_utilities-dir'
// Base
@import '1-base/_base-dir'
// Modules
@import '2-modules/_modules-dir'
// Layouts
@import '3-layouts/_layouts-dir'
// States

// New Atomic Design Model
// Quarks
// @import '01-quarks/'
// Atoms
@import '02-atoms/_buttons'
// Molecules
@import '03-molecules/_button-group'
// Organisms
// Templates
// Pages
