html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
@import url("http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,900");
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts//icomoon.eot?#iefix") format('embedded-opentype'), url("/assets/fonts//icomoon.woff") format('woff'), url("/assets/fonts//icomoon.ttf") format('truetype'), url("/assets/fonts//icomoon.eot#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lustria';
}
p {
  font-family: 'Lato';
}
body {
  background-color: #f5f5f5;
}
.social-icons {
  position: relative;
  top: 50%;
  float: right;
  font-size: 1.6rem;
}
.social-icons desktop {
  float: left;
  padding-right: 1.5em;
}
.social-icons div {
  display: inline-block;
  padding: 0 0.4rem;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  font-speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #666;
  line-height: 1;
  text-decoration: none;
  -webkit-font-feature-settings: "liga";
     -moz-font-feature-settings: "liga";
          font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-behance {
  font-size: 1em;
  color: #fff;
  background-color: #666;
  border-radius: 50%;
}
.icon-behance:before {
  content: "\e601";
}
.icon-behance:hover {
  background-color: #222;
}
.icon-google-plus:before {
  content: "\ea8a";
}
.icon-google-plus:hover {
  color: #ab241e;
}
.icon-facebook:before {
  content: "\ea8e";
}
.icon-facebook:hover {
  color: #38488b;
}
.icon-twitter:before {
  content: "\ea93";
}
.icon-twitter:hover {
  color: #5097ed;
}
.icon-github:before {
  content: "\eab1";
}
.icon-github:hover {
  color: #6b006d;
}
.icon-btn-next:before {
  content: "\e607";
}
.icon-btn-prev:before {
  content: "\e606";
}
.page-content {
  transition: all 0.2s linear;
}
.slide-down-content {
  background-color: #222;
  position: fixed;
  top: -460px;
  left: 0px;
  down: 0px;
  color: #f5f5f5;
  z-index: 1;
  height: 320px;
  width: 100%;
  padding: 30px;
  text-align: center;
  transition: all, 0.3s, linear;
}
.slide-down-content p.blurb {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  display: inline-block;
  color: #f5f5f5;
  list-style-type: none;
}
.slide-down-content p.blurb span {
  font-weight: 900;
}
.slide-down-content .coolform {
  padding-top: 50px;
}
#pulldowntoggler {
  display: none;
}
#pulldowntoggler:checked + .page-wrap .slide-down-content {
  top: 0px;
  border-bottom: 8px solid #ff69b4;
}
#pulldowntoggler:checked + .page-wrap .site-header {
  top: 360px;
}
#pulldowntoggler:checked + .page-wrap .page-content {
  padding-top: 360px;
}
.site-header__wrap {
  height: 90px;
  padding-top: 20px;
}
.site-header__logo {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}
.site-header__logo h3 {
  padding: 0;
  margin: 0;
}
.site-header__logo span {
  font-weight: 300;
}
.coolform input {
  background: none;
  border: solid 4px #ff69b4;
  color: #ff69b4;
  padding: 15px 40px;
  font-size: 18px;
  display: inline-block;
}
.coolform input:focus,
.coolform input:active {
  outline: none;
}
.coolform input[type="text"],
.coolform input[type="email"] {
  border: none;
  border-bottom: solid 4px #ff69b4;
}
.coolform input[type="submit"]:active {
  color: #fff;
  background: #01ff70;
}
.coolform .input-group {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.coolform .input-group input {
  padding: 15px 0px;
}
.coolform .input-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  font-family: "Lato";
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  color: #999;
  pointer-events: none;
  transition: all, 0.3s, linear;
}
.coolform .input-group input:focus + label,
.coolform .input-group input.has-value + label {
  top: -10px;
  font-size: 12px;
  color: #aaa;
}
.home-footer {
  *zoom: 1;
  position: relative;
  border-top: 2px solid $border-color;
  margin-top: 4em;
  padding: 2em 0;
  bottom: 0;
}
.home-footer:before,
.home-footer:after {
  content: '';
  display: table;
}
.home-footer:after {
  clear: both;
}
.home-footer .footer__block {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 1em;
}
.home-footer .footer__block:before,
.home-footer .footer__block:after {
  content: '';
  display: table;
}
.home-footer .footer__block:after {
  clear: both;
}
.home-footer .footer__block:last-child {
  margin-right: 0%;
}
.home-footer .footer__block--title {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
}
.home-footer .footer__block--title:before,
.home-footer .footer__block--title:after {
  content: '';
  display: table;
}
.home-footer .footer__block--title:after {
  clear: both;
}
.home-footer .footer__block--title:last-child {
  margin-right: 0%;
}
.home-footer .footer__block--contact {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  font-weight: 800;
}
.home-footer .footer__block--contact:before,
.home-footer .footer__block--contact:after {
  content: '';
  display: table;
}
.home-footer .footer__block--contact:after {
  clear: both;
}
.home-footer .footer__block--contact:last-child {
  margin-right: 0%;
}
.isotope {
  font-size: 1rem;
}
.isotope__element {
  display: inline-block;
  font-size: 0.58em;
  line-height: 0.5em;
  background: #fff;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #222;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
  border: 3px solid #fff;
}
.isotope__element h2,
.isotope__element em {
  position: absolute;
  bottom: 10px;
  padding: 0 6px;
}
.isotope__element h2 {
  color: #555;
  font-family: $helvetica;
}
.isotope__element em {
  color: #777;
  font-family: $georgia;
  font-style: normal;
}
.isotope__element--cover {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all, 0.075s, linear;
}
.isotope__element:hover .isotope__element--cover {
  top: -40px;
  border-bottom: 3px solid #ff69b4;
}
.isotope__element {
  margin-bottom: 6px;
}
.isotope .grid-sizer {
  width: 226px;
}
.isotope .category--thoughts {
  width: 226px;
  height: 466px;
}
.isotope .category--creations {
  width: 466px;
  height: 226px;
}
.isotope .category--code {
  width: 226px;
  height: 226px;
}
.isotope .category--portfolio {
  width: 226px;
  height: 466px;
}
.isotope .featured {
  width: 466px;
  height: 466px;
}
.page-wrap {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.page-wrap:before,
.page-wrap:after {
  content: '';
  display: table;
}
.page-wrap:after {
  clear: both;
}
.site-header {
  *zoom: 1;
}
.site-header:before,
.site-header:after {
  content: '';
  display: table;
}
.site-header:after {
  clear: both;
}
.site-header__logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.site-header__logo:before,
.site-header__logo:after {
  content: '';
  display: table;
}
.site-header__logo:after {
  clear: both;
}
.site-header__links {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.site-header__links:before,
.site-header__links:after {
  content: '';
  display: table;
}
.site-header__links:after {
  clear: both;
}
.site-header__right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.site-header__right:before,
.site-header__right:after {
  content: '';
  display: table;
}
.site-header__right:after {
  clear: both;
}
.isotope {
  *zoom: 1;
}
.isotope:before,
.isotope:after {
  content: '';
  display: table;
}
.isotope:after {
  clear: both;
}
.home-footer {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.home-footer:before,
.home-footer:after {
  content: '';
  display: table;
}
.home-footer:after {
  clear: both;
}
.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  color: #222;
  font-family: 'Open Sans';
  font-size: 16px;
  cursor: pointer;
  background-color: #f5f5f5;
}
.button:hover {
  simple-gradient: #ff69b4;
  color: #222;
}
.button.is-checked {
  font-weight: bolder;
}
.button:active {
  border-top: 1px solid #ff69b4;
}
.button:active,
.button.is-checked {
  border-bottom: 1px solid #ff69b4;
}
.button-group {
  *zoom: 1;
}
.button-group:before,
.button-group:after {
  content: '';
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

 /*# sourceMappingURL=master.css.map */