/* *************
UTILITIES
**************** */
body {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.hide {
  visibility: hidden;
  opacity: 0;
}
/* *************
BANNER TEMPLATE
**************** */
button {
  background-color: #f7c61a;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
body {
  margin: 0px;
}
#ad {
  display: block;
  border: #919999 1px solid;
  overflow: hidden;
  width: 298px;
  height: 248px;
}
#banner {
  position: absolute;
  display: block;
  width: 298px;
  height: 248px;
  background-color: #fff;
  overflow: hidden;
}
.label {
  font-size: 14px;
  top: 65px;
}
/* *************
VARIABLES
**************** */
#banner {
  background-color: #592c82;
}
/* *************
CUSTOM STYLES
**************** */
/* frame 01 */
.dog_big {
  position: absolute;
  top: -270px;
  left: -290px;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  transition: all 1.5s ease-in-out;
}
.dog_big.frame01 {
  top: -200px;
  left: -320px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.the_biggest {
  position: absolute;
  left: 161px;
  top: 20px;
  z-index: 10;
  transition: all 0.5s linear;
}
/* frame 03 */
.little-name {
  position: absolute;
  left: 163.898px;
  top: 45.183px;
  z-index: 30;
  transition: all 0.5s linear;
}
.circle_blue {
  position: absolute;
  top: 166px;
  left: 245px;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background-color: #6babe5;
  z-index: 30;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.25s linear;
}
.circle_blue.frame03 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.circle_cyan {
  position: absolute;
  top: 150px;
  left: 101px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #58b7b3;
  z-index: 30;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.25s linear;
}
.circle_cyan.frame03 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* frame 04 */
.logo-circle {
  border-radius: 50%;
  background-color: #592c82;
  position: absolute;
  left: 218px;
  top: 16px;
  width: 133px;
  height: 133px;
  z-index: 40;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.5s linear;
}
.logo-circle.frame03 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.logo-circle.frame04 {
  -webkit-transform: scale(4.6);
      -ms-transform: scale(4.6);
          transform: scale(4.6);
}
.logo-circle.frame03 {
  left: 170px;
  top: -8px;
}
.logo {
  position: absolute;
  top: 25px;
  left: 195px;
  z-index: 41;
  transition: all 0.75s ease;
}
.logo.frame06 {
  left: 105px;
}
/* fram05 */
.largest-insurer {
  position: absolute;
  left: 25px;
  top: 130px;
  z-index: 50;
  transition: all 0.5s linear;
}
.logos {
  position: absolute;
  width: 200px;
  left: 54px;
  top: 160px;
  z-index: 50;
  transition: all 0.25s linear;
}
.logos img {
  margin: -3px;
}
/* frame06 */
.buttons {
  position: absolute;
  top: 175px;
  left: 72px;
  z-index: 101;
  transition: all 0.5s linear;
}
.button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.cta {
  background-color: #f7c61a;
  padding: 12px 30px 10px;
  border-radius: 8px;
  z-index: 999999;
}
.cta:hover {
  background-color: #fff;
  cursor: pointer;
}
.copy_logo {
  transition: all 0.65s linear;
}
#clickthrough-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 298px;
  height: 248px;
  z-index: 100;
  cursor: pointer;
}
