:verbatim
  ---
  layout: default
  ---

doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en_uk")

  {% include head.html %}

  body
    .body-container
      {% include masthead.html %}

      .container.content
        {{ content }}

      {% include scripts.html %}
