.container
  position: relative
  width: 100%
  overflow: hidden

/**** Transitions ****/
.masonry, .masonry .category--creative
  transition-duration: 0.7s
.masonry
  transition-property: height, width
.masonry .category--creative
  transition-property: left, right, top

// Fake radio filters
.toggle
  text-align: center
  padding: 0
  li
    display: inline
    padding: 0 60px
  label
    font-size: 1.2em
    padding: 0 10px

.masonry
  margin: 0 auto

.masonry__brick
  color: white
  display: table
  font-size: 1.4em
  text-align: center
  margin: 5px
  width: 270px

.masonry__brick:hover .title
  opacity: 1


.masonry__brick--title
  display: table-cell
  vertical-align: middle

.category--thought
  background: tomato

.category--work
  background: skyblue

.category--creative
  background: purple
