.grid-container
  position: relative
  width: 100%
  overflow: hidden
  // +transition(all 1s ease-in-out)


.toggle
  text-align: center
  padding: 0

  li
    display: inline
    padding: 0 60px

  label
    font-size: 1.2em
    padding: 0 10px

.grid
  margin: 0 auto

.item
  color: white
  display: table
  font-size: 1.4em
  text-align: center
  margin: 5px
  width: 270px

.item:hover .title
  opacity: 1

.title
  display: table-cell
  vertical-align: middle

.thought
  background: tomato

.work
  background: skyblue

.creative
  background: purple
