.grid-container
  position: relative
  width: 100%
  overflow: hidden
  transition: all 0.5s
  -webkit-transition: all 0.5s

.toggle
  text-align: center
  padding: 0
  color: white

.toggle li
  display: inline
  padding: 0 60px

.toggle label
  font-size: 1.2em
  padding: 0 10px

.grid
  margin: 0 auto

.item
  color: white
  display: table
  font-size: 1.4em
  text-align: center
  margin: 5px
  width: 270px

.item:hover .title
  opacity: 1

.title
  display: table-cell
  vertical-align: middle
  opacity: 0
  transition: opacity 0.5s
  -webkit-transition: opacity 0.5s

.i1, .i3, .i6, .i7
  background: url(http://placehold.it/500x500) no-repeat center center
  background-size: cover
  //background: #2ecc71
  height: 280px

.i2, .i4, .i5, .i8
  background: #e74c3c
  height: 180px

.i9, .i10, .i11, .i12, .i13, .i14, .i15
  background: #e74c3c
  height: 180px

.i4
  height: 349px

.expand
  transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s
  -webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s
  height: 100%
  width: 100%
  left: 0 !important
  top: 0 !important
  z-index: 99
  text-indent: -9999px
