@charset "UTF-8";
body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
#myLogoImg {
  position: absolute;
  top: 5px;
  left: 5px;
}
#container_dc {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  width: 970px;
  height: 250px;
}
#close_btn_dc,
#close_ad_dc {
  position: absolute;
  top: 5px;
  left: 35px;
  cursor: pointer;
  width: 200px;
  height: 18px;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 600;
}

#close_btn_dc p {
  margin-left: 30px;
}


#close_ad_dc {
  top: 6px;
  right: 6px;
  z-index: 200;
}
#content_dc {
  position: absolute;
  width: 968px;
  height: 248px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: 968px 248px;
  border: 1px solid #666;
  cursor: pointer;
}
#expand_content_dc {
  position: absolute;
  width: 968px;
  height: 498px;
  border: 1px solid #999;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 200;
  display: none;
  background-image: url("../img/lexusExpandedBG_low.jpg");
  background-repeat: no-repeat;
  border: 1px solid #666;
}
#expanded_background_exit_dc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 400;
}
#show_ad_dc {
  font-size: 12;
  font-family: sans-serif;
  position: absolute;
  left: 465px;
  color: #808080;
  z-index: 100;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.disclaimer {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #000;
  z-index: 2000;
}
.disclaimer .disclaimer_text {
  padding: 40px 20px;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  text-align: justify;
  top: 46px;
  width: 470px;
}
.disclaimer .disclaimer_text >p:first-of-type {
  margin-bottom: 20px;
}
.disclaimer .disclaimer_close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  font-size: 20px;
  z-index: 2001;
  cursor: pointer;
}
.expand_disclaimer {
  position: absolute;
  bottom: 6px;
  left: 450px;
  font-family: sans-serif;
  font-size: 10px;
  z-index: 1000;
}
.expand_disclaimer:hover {
  cursor: pointer;
}
.more_hover_svg {
  bottom: -1px;
  left: -1px;
  visibility: hidden;
}
.btn_exit {
  position: absolute;
  width: 127px;
  height: 26px;
  left: 448px;
  bottom: 25px;
  z-index: 1000;
}
.btn_exit img {
  position: absolute;
}
.btn_exit:hover {
  cursor: pointer;
}
.btn_exit:hover .more_hover_svg {
  visibility: visible;
}
.btn_exit:hover .more_svg {
  visibility: hidden;
}
#expand_content_dc .cars {
  position: absolute;
  right: -200px;
  top: 180px;
  height: 252px;
  width: 972px;
}
#expand_content_dc img[class*='car_'] {
  position: absolute;
  max-height: 100%;
}
#expand_content_dc .car_1 {
  left: 0;
}
#expand_content_dc .car_2 {
  left: 17px;
}
#expand_content_dc .car_3 {
  left: 34px;
}
#expand_content_dc .car_labels {
  left: 15px;
}
#expand_content_dc .lexhibition_expand,
#expand_content_dc .comparison-rate {
  position: absolute;
  left: 210px;
}
#expand_content_dc .lexhibition_expand {
  top: -10px;
}
#expand_content_dc .comparison-rate {
  top: 148px;
}
.btn_disclaimer-close {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}
#content_dc img[class*='car_'],
#content_dc .cars,
#content_dc .lexhibition,
#content_dc .comparison-rate,
#content_dc .btn_expand_hover_svg {
  position: absolute;
}
.btn_expand_svg {
  z-index: 2;
}
.btn_expand_hover_svg {
  bottom: -2px;
  visibility: hidden;
}
#content_dc:hover .btn_expand_svg {
  visibility: hidden;
}
#content_dc:hover .btn_expand_hover_svg {
  visibility: visible;
  display: block;
}
.eyes_close {
  position: absolute;
  z-index: -2;
}
div[class^='eyes_tear'] {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  z-index: -1;
  background-image: url("../img/eyes_close.jpg");
  background-repeat: no-repeat;
  height: 80px;
  width: 970px;
  transition: all 0.125s ease;
}
.eyes_close.tear {
  opacity: 0;
  left: 70px;
}
.eyes_tear_1 {
  top: 90px;
  background-position: 0px -90px;
  left: 0;
}
.eyes_tear_1.tear {
  left: -100px;
}
.eyes_tear_2 {
  top: 50px;
  background-position: 0px -50px;
}
.eyes_tear_2.tear {
  right: 90px;
}
.eyes_tear_3 {
  top: 0px;
  left: 0;
}
.eyes_tear_3.tear {
  left: 120px;
}
.eyes_tear_4 {
  top: 150px;
  background-position: 0px -150px;
  left: 0;
}
.eyes_tear_4.tear {
  left: 175px;
}
.eyes_tear_5 {
  left: 0;
}
.eyes_tear_5.tear {
  left: -200px;
}
.eyes_tear_6 {
  background-position: 0px -200px;
  top: 200px;
  left: 0;
}
.eyes_tear_6.tear {
  left: -100px;
}
.eyes_close {
  transition: all 1s ease-out;
}
.eyes_close.frame01 {
  visibility: hidden;
  opacity: 0;
}
.lexhibition {
  transition: all 0.5s ease;
}
.lexhibition.frame01 {
  visibility: visible;
  opacity: 1;
}
.lexhibition.frame02 {
  visibility: hidden;
  opacity: 0;
}
.comparison-rate {
  transition: all 1s ease;
}
.comparison-rate.frame02 {
  visibility: visible;
  opacity: 1;
}
.car_1,
.car_2,
.car_3,
.car_labels {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}
.car_1.frame02,
.car_2.frame02,
.car_3.frame02,
.car_labels.frame02 {
  visibility: visible;
  opacity: 1;
}
.car_1 {
  transition-delay: 1s;
}
.car_2 {
  transition-delay: 1.15s;
}
.car_3 {
  transition-delay: 1.3s;
}
.car_labels {
  transition-duration: 2s;
  transition-delay: 2s;
}
/* Custom Styles */
body {
  font-family: Arial, sans-serif;
}
/* Collapsed Banner */
.logo {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
/* hide everything leaking out of main banner container */
#content_dc {
  overflow: hidden;
}
/* helpers */
.hide {
  opacity: 0;
  visibility: 0;
  z-index: -1;
}
