---
layout: work
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en_uk">
{% include work/head.html %}
<body>
    <div class="work">
        {{ content }}
    </div>
    {% include work/related.html %}

    {% unless site.googleAnalytics == '' %}
        {% include analytics.html %}
    {% endunless %}
    <!-- build:js /assets/javascript/work.min.js-->
    <script src="/assets/javascript/social-media.js"></script>
    <!-- endbuild-->
    <!-- social media scripts -->
    {% include scripts/twitter.html %}
</body>
{% include work/footer.html %}
</html>