// Descriptive colors:
$grey-dark                = #666666
$grey-light               = #333333
$hopbush                  = #cc6699
$bouquet                  = #b37399
$venus                    = #998099
$patina                   = #669999
$nebula                   = #d2e1dd
$white                    = white
$dawn-pink                = #f2ece4
$wafer                    = #e1d7d2
$iron                     = #dadbdf
$regent-grey              = #808c99
$pale-sky                 = #6b717f
$midnight-blue            = #003366
$black                    = black
// Main color palette
$color-primary            = hotpink
$color-secondary          = $grey-dark
$color-accent             = lighten($grey-light, 5%)
$color-shadow             = rgba($black, 0.125)
$color-note               = #666666
// Common colors
$color-background         = $white
$color-background-shade   = $iron
$color-background-invert  = $hopbush
$color-border             = $iron
$color-text               = darken($pale-sky, 15)
$color-text-weak          = $regent-grey
$color-text-strong        = $midnight-blue
$color-text-heading       = $regent-grey
$color-text-invert        = rgba($color-background, 0.75)
$color-text-strong-invert = $color-background
// Links
$color-link               = $color-primary
$color-link-hover         = lighten($color-accent, 25)
$color-link-visited       = $bouquet
// Code
$color-code               = #333333
$color-code-background    = #f3f3f3
$color-pre                = #d4d4d4
$color-pre-background     = #333333
// Selections
$color-selection          = #b3d4fc
// Messages
$color-message            = #f4ecbb
$color-success            = #2cde2c
$color-warning            = #cf8600
$color-important          = #dd0000
$color-notice             = #6666bb

// Base Sizes
// ==========
/**/

$base-font-size = 16
/**
 * Base line-height in used in _mixins.sass
 * @type number
 */
$base-line-height = 24
// Font Stacks
// ===========
/**
 * (optional) URL for Google Fonts import
 * @type string
 */
$google-fonts-url = "http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,900"
/**
 * (optional) names of webfonts imports
 * @type array
 */
$fonts = "icomoon"
