---
layout: default
title:  Home
---

.loop-wrap
  .masonry
    .grid-sizer

      {% for post in site.posts %}

      a(class="masonry__brick category--{{ post.category }}" href="{{ post.url }}" style="height: {{ post.height }};")

        p.masonry__brick--title {{ post.title }}

    {% endfor %}