---
layout: default
title:  Home
---

.loop-wrap
  .masonry

    {% for post in site.posts %}

    a(class="masonry__brick category--{{ post.category }}" href="{{ post.url }}")
      h2.masonry__brick--title {{ post.title }}
      em.masonry__brick--date {{ post.date | date: "%-d %B %Y" }}
      img.masonry__brick--cover

  {% endfor %}