---
date: 2014-01-15
title: JSON Test
description: Creative journey and case study for the Dawn Lister Therapy Centre website.
category: code
tags: [webdesign]
relatedimageurl: http://lorempixel.com/325/250/abstract/1
googlewebfonts: Lato|Open+Sans:400,700,800
height: 125px
---
extends /_templates/single-thought
append config
	-var jQuery = true
	-var PullDown = false

append content
	// check if jQuery is loaded
	h3#gotJquery Nope, no jQuery :(
	br

	button(onclick="myFunction()") Inject JSON Data
	h3#demo
	code#demo2
	code#demo3

	append siteJS
		script(src='/assets/js/custom/json-test.js')
		script.
			if (window.jQuery) {
				$('#gotJquery').html("jQuery has been loaded!");
				}
		


