---
date: 2015-03-10
title: Mission Statement
description: This is the beginning of a blog where passion and human connection matter.
blurb: One man's heart does not need to be a mystery to any other's.
category: thoughts
tags: [about]
relatedimageurl: 'http://420placehold.it/art/400-300'
coverImage: http://420placehold.it/art/400-300
//- googlewebfonts: Lato|Open+Sans:400,700,800
_content: false
---
extends /_layouts/single-thought.jade

append content
	h1= post.title
	:markdown
		This is the beginning of a blog where passion and human connection matter, and freelance artists or those in the design industry can share their thoughts and opinions. I hope that my experience of freedom in creativity, human connection in freelancing and culture in traveling will serve as a guiding light in your own journey.
