@charset "UTF-8";
@import url(../_bower_components/normalize.css/normalize.css);
/* Main Sass file */
/*
  CONTENTS
  SETTINGS
  Global...............Globally-available variables and config.
  TOOLS
  Mixins...............Useful mixins.
  GENERIC
  Normalize.css........A level playing field.
  Box-sizing...........Better default `box-sizing`.
  BASE
  Headings.............H1–H6 styles.
  OBJECTS
  Wrappers.............Wrapping and constraining elements.
  COMPONENTS
  Page-head............The main page header.
  Page-foot............The main page footer.
  Buttons..............Button elements.
  TRUMPS
  Text.................Text helpers. */
* {
  box-sizing: border-box; }

.grid-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.toggle {
  text-align: center;
  padding: 0; }
  .toggle li {
    display: inline;
    padding: 0 60px; }
  .toggle label {
    font-size: 1.2em;
    padding: 0 10px; }

.grid {
  margin: 0 auto; }

.item {
  color: white;
  display: table;
  font-size: 1.4em;
  text-align: center;
  margin: 5px;
  width: 270px; }

.item:hover .title {
  opacity: 1; }

.title {
  display: table-cell;
  vertical-align: middle; }

.thought {
  background: tomato; }

.work {
  background: skyblue; }

.creative {
  background: purple; }

.home-masthead {
  height: 180px;
  position: relative; }
  .home-masthead .icon-to-logo {
    float: left;
    font-size: 3rem; }
  .home-masthead ul {
    display: inline-block; }
  .home-masthead li {
    list-style-type: none;
    color: #bcbcbc; }
    .home-masthead li:hover {
      color: black; }
  .home-masthead input {
    display: none; }
  .home-masthead input[type="radio"]:checked + label {
    color: black;
    font-weight: bold; }
  .home-masthead .social-icons {
    float: right; }
