/* *************
RESETS
**************** */
body {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
/* *************
BANNER TEMPLATE
**************** */
#container_dc {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  margin: auto;
  overflow: hidden;
  background-color: #2c3e50;
}
#content_dc {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#background_exit_dc {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
}
.banner-wrapper {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.content-wrapper {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background-color: #2c3e50;
}
/* *************
CUSTOM STYLES
**************** */
.main {
  height: 190px;
  width: 300px;
  margin: 0;
  padding: 0;
  background-color: #18b4e9;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.euro {
  position: absolute;
  top: 72px;
  left: 72px;
  width: 27px;
  height: 39px;
}
.dot {
  position: absolute;
  top: 97px;
  left: 136px;
  width: 8px;
  height: 8px;
}
.number01,
.number02,
.number03 {
  position: absolute;
  overflow: hidden;
  top: 72px;
  left: 103px;
  width: 30px;
  height: 40px;
}
.number01 img,
.number02 img,
.number03 img {
  position: absolute;
  top: -526px;
  left: 0;
  transition: all 4s ease-in-out;
}
.number01 img.frame01 {
  top: -235px;
}
.number02 img {
  position: absolute;
  top: -526px;
  left: 0;
}
.number02 img.frame01 {
  top: -293px;
}
.number03 img {
  position: absolute;
  top: -526px;
  left: 0;
}
.number03 img.frame01 {
  top: 0px;
}
.number02 {
  left: 148px;
}
.number03 {
  left: 181px;
}
.text_end {
  position: absolute;
  top: -190px;
  left: 0;
  width: 300px;
  height: 190px;
  background-color: #2c3e50;
  transition: all 1s ease-in-out;
}
.text_end.frameend {
  top: 0;
}
.text_end img {
  position: absolute;
  top: 43px;
  left: 63px;
  width: 166px;
  height: 105px;
}
/* Footer Styles */
footer {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 60px;
  background-color: #2c3e50;
}
.xero-logo {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 40px;
  height: 40px;
}
.xero-tagline {
  position: absolute;
  top: 15px;
  left: 64px;
  width: 58px;
  height: 33px;
}
.button-cta {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 100px;
  height: 33px;
  text-align: center;
  background-color: #27c229;
  border-radius: 3px;
}
.button-cta img {
  position: relative;
  top: 7px;
}
#content_dc:hover .button-cta {
  background-color: #21a623;
  cursor: pointer;
}
